<div class="msg-container"
     [ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">

    <div class="avatar"
         *ngIf="!incoming">
        <img style="float: left" src="{{message.author.image}}">
    </div>

    <div class="messages"
         [ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">
        <div [innerHTML]="message.body | sanitizeHtml"></div>
        <p class="time">{{message.author.username}} • {{message.createdAt | fromNow}}</p>
    </div>

    <div class="avatar"
         *ngIf="incoming">
        <img style="float: right" src="{{message.author.image}}">
    </div>
</div>
