<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <article-meta [article]="article">
        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger"
                  [ngClass]="{disabled: isDeleting}"
                  (click)="onDelete(article)">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>
        <span [hidden]="canModify">
          <follow-button [profile]="article.author" (onToggle)="onToggleFollowing($event)"></follow-button>
          <favorite-button [article]="article" (onToggle)="onToggleFavorite($event)">
            {{ article.favorited ? "Unfavorite" : "Favorite" }} Article <span class="counter">({{ article.favoritesCount }})</span>
          </favorite-button>
        </span>
      </article-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">

        <div [innerHTML]="article.body | sanitizeHtml"></div>
        <ul class="tag-list">
          <li *ngFor="let tag of article.tagList"
              class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <span class="article-update-data-posted" *ngIf="article.createdAt !== article.updatedAt">
          Updated at {{ article.updatedAt | date: 'medium' }}
    </span>

    <hr />

    <div class="article-actions">
      <article-meta [article]="article">
        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor',article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger"
                  [ngClass]="{disabled: isDeleting}"
                  (click)="onDelete(article)">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

        <span [hidden]="canModify">
          <follow-button [profile]="article.author" (onToggle)="onToggleFollowing($event)"></follow-button>
          <favorite-button [article]="article" (onToggle)="onToggleFavorite($event)">
            {{ article.favorited ? "Unfavorite" : "Favorite" }} Article <span class="counter">({{ article.favoritesCount }})</span>
          </favorite-button>
        </span>
      </article-meta>
    </div>

    <div>
      <modal #commentModal>
        <modal-header [show-close]="true">
          <h4 class="modal-title">Edit your comment</h4>
        </modal-header>
        <modal-body>
          <ckeditor *ngIf="editCommentActive"
                    [(ngModel)]="ckeditorCommentContent"
                    [ngModelOptions]="{standalone: true}"
                    [config]="{
                      extraPlugins: 'divarea',
                      uiColor: '#2980b9',
                      forcePasteAsPlainText: true,
                      toolbar:
                        [
                            ['Source'],
                            ['Preview','Cut','Copy','Paste','PasteText','PasteFromWord'],
                            ['Undo','Redo','-','SelectAll','RemoveFormat'],
                            '/',
                            ['Bold','Italic','-','Subscript','Superscript'],
                            ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
                            ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                            ['Link','Unlink','Anchor'],
                            ['Image','Table','SpecialChar'],
                            '/',
                            ['Styles','Format','FontSize'],
                            ['TextColor'],
                            ['Maximize', 'ShowBlocks']
                        ]
                      }"
                    debounce="0">
          </ckeditor>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="commentModal.dismiss()">Cancel</button>
          <button type="button" class="btn btn-primary" [disabled]="(ckeditorCommentContent.trim() === '')" (click)="onEditSubmit()">Save</button>
        </modal-footer>
      </modal>

      <modal #deleteConfirmModal>
        <modal-header [show-close]="true">
          <h4 class="modal-title">Delete your {{deleteModalTitle}}</h4>
        </modal-header>
        <modal-body>
          Are you sure to delete your {{deleteModalTitle}} ?
        </modal-body>
        <modal-footer [show-default-buttons]="false">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteConfirmModal.dismiss()">Cancel</button>
          <button type="button" class="btn btn-primary" *ngIf="deleteModalTitle === 'comment'" (click)="confirmDeleteComment()">Confirm</button>
          <button type="button" class="btn btn-primary" *ngIf="deleteModalTitle === 'article'" (click)="deleteArticle()">Confirm</button>
        </modal-footer>
      </modal>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <article-comment *ngFor="let comment of comments" [comment]="comment" (deleteComment)="onDelete(comment)" (editComment)="onEditOpen(comment)"></article-comment>

        <div *showAuthed="true">
          <list-errors [errors]="commentFormErrors"></list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <ckeditor
                        #AddCommentCKE
                        [(ngModel)]="ckeditorContent"
                        [ngModelOptions]="{standalone: true}"
                        [config]="{
                      extraPlugins: 'divarea',
                      uiColor: '#2980b9',
                      forcePasteAsPlainText: true,
                      toolbar:
                        [
                            ['Source'],
                            ['Preview','Cut','Copy','Paste','PasteText','PasteFromWord'],
                            ['Undo','Redo','-','SelectAll','RemoveFormat'],
                            '/',
                            ['Bold','Italic','-','Subscript','Superscript'],
                            ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
                            ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                            ['Link','Unlink','Anchor'],
                            ['Image','Table','SpecialChar'],
                            '/',
                            ['Styles','Format','FontSize'],
                            ['TextColor'],
                            ['Maximize', 'ShowBlocks']
                        ]
                      }"
                        debounce="">
                </ckeditor>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *showAuthed="false">
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
        </div>

      </div>
    </div>

  </div>
</div>
