<div class="card">

  <div class="card-block">
    <div [innerHTML]="comment.body | sanitizeHtml"></div>
      <span class="date-updated" *ngIf="comment.createdAt !== comment.updatedAt">
        Updated at {{ comment.updatedAt | date: 'medium' }}
      </span>
  </div>
  <div class="card-footer">
    <a class="comment-author" [routerLink]="['/profile',comment.author.username]">
      <img [src]="comment.author.image" class="comment-author-img" />
    </a>
    &nbsp;
    <a class="comment-author" [routerLink]="['/profile',comment.author.username]">
      {{ comment.author.username }}
    </a>
    <span class="date-posted">
      {{ comment.createdAt | date: 'medium' }}
    </span>
    <span class="mod-options" [hidden]="!canModify">
      <i class="icon ion-edit" (click)="editClicked()" ></i>
        <i></i>
      <i class="ion-trash-a" (click)="deleteClicked()" ></i>
    </span>
  </div>

</div>
