<md-sidenav-container class="chat-container">
    <md-sidenav #sidenav class="chat-sidenav" mode="push" (open)="sidenavOnOpen()" (close)="sidenavOnClose()">
        <layout-sidebar></layout-sidebar>
    </md-sidenav>

    <div class="chat-sidenav-content">
        <button
                md-raised-button
                class="sidenav-button background-primary-color white-text"
                (click)="clickButton(sidenav)"
                *ngIf="isAuthenticated && isChrome"
        >
            Chat Window
        </button>

        <div style="min-height: 100vh">
            <layout-header></layout-header>

            <router-outlet></router-outlet>
        </div>
        <layout-footer></layout-footer>

    </div>

</md-sidenav-container>
