
.chat-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.chat-sidenav-content {
    position: relative;
    height: 100%;
}

.sidenav-button {
    float: left;
    position: relative;
    z-index: 100;
}

.white-text {
    color: #FFF!important;
}

.background-primary-color {
    background-color: #2980b9!important;
}

.chat-sidenav {
    padding: 20px;
    width: 50%;
    background-color: #ffffff;
    overflow: hidden;
}

@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";